.productItemImage {
  width: 100%;
  vertical-align: middle;
  height: 100%;
  object-fit: contain;
}

.imageContainer {
  aspect-ratio: 1/1;
  border: 1px solid black;
  padding: 1rem;
  width: calc(1200px / 4);
  height: calc(1200px / 4);
  background-color: white;
}
