h1 {
  font-size: 2rem;
}
ul {
  padding: 0;
  list-style: none;
}
li {
  background-color: green;
  padding: 1rem;
  border: 1px solid black;
}

/** For Tablets */
@media (min-width: 768px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  li {
    background-color: red;
  }
}
@media (width > 1023px) {
  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
  }
  li {
    background-color: yellow;
  }
}